 

 


a { background-color: transparent; }

a:active, a:hover { outline: 0; }


b, strong { font-weight: bold; }


h1 { font-size: 2em; margin: 0.67em 0; }


img { border: 0; }


figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }


button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }


textarea { overflow: auto; }


table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print { *, *:before, *:after { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }

  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header1-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  .btn > .caret, .dropup > .btn > .caret { border-top1-color: #000 !important; }
  .label { border: 1px solid #000; }
  .table { border-collapse: collapse !important; }
  .table td, .table th { background-color: #fff !important; } }

* { box-sizing: border-box; }

*:before, *:after { box-sizing: border-box; }

html { font-size: 10px; -webkit-tap-highlight-color: transparent; }

 
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

a { color: #4ab9cf; text-decoration: none; }
a:hover, a:focus { color: #36b1ca; text-decoration: underline; }
a:focus { outline: none; }

figure { margin: 0; }

img { vertical-align: middle; }

.img-responsive { display: block; max-width: 100%; height: auto; }


hr { margin-top1: 22px; margin-bottom: 22px; border: 0; border-top1: 1px solid #eeeeee; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }


[role="button"] { cursor: pointer; }

 

h1, .h1, h2, .h2, h3, .h3 { margin-top1: 22px; margin-bottom: 11px; }


h4, .h4, h5, .h5, h6, .h6 { margin-top1: 11px; margin-bottom: 11px; }


h1, .h1 { font-size: 36px; }

h2, .h2 { font-size: 30px; }

h3, .h3 { font-size: 24px; }

h4, .h4 { font-size: 18px; }

h5, .h5 { font-size: 14px; }

h6, .h6 { font-size: 12px; }

p { margin: 0 0 11px; }
@media (min-width: 768px) { }


.text-center { text-align: center; }


.text-uppercase, .initialism { text-transform: uppercase; }


ul, ol { margin-top1: 0; margin-bottom: 11px; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }

.list-unstyled { padding-left: 0; list-style: none; }


dl { margin-top1: 0; margin-bottom: 22px; }

dt, dd { line-height: 1.6; }

dt { font-weight: bold; }

dd { margin-left: 0; }
@media (min-width: 992px) { }


blockquote { padding: 11px 22px; margin: 0 0 22px; font-size: 17.5px; border-left: 5px solid #eeeeee; }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0; }


.container1 { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container1:before, .container1:after { content: " "; display: table; }
.container1:after { clear: both; }
@media (min-width: 768px) { .container1 { width: 750px; } }
@media (min-width: 992px) { .container1 { width: 970px; } }
@media (min-width: 1200px) { .container1 { width: 1170px; } }


.row { margin-left: -15px; margin-right: -15px; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }


.col-xs-12 { width: 100%; }

@media (min-width: 768px) {
 .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }

  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }

  .col-sm-6 { width: 50%; }

  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }

  .col-sm-12 { width: 100%; }

  .col-sm-offset-2 { margin-left: 16.66667%; } }
@media (min-width: 992px) {
 .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }

  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }

  .col-md-6 { width: 50%; }

  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }

  .col-md-12 { width: 100%; }

  .col-md-pull-9 { right: 75%; }

  .col-md-push-3 { left: 25%; } }
@media (min-width: 1200px) { }

table { background-color: transparent; }


th { text-align: left; }

.table { width: 100%; max-width: 100%; margin-bottom: 22px; }
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td { padding: 8px; line-height: 1.6; vertical-align: top1; border-top1: 1px solid #ddd; }
.table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid #ddd; }
.table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td { border-top1: 0; }
.table > tbody + tbody { border-top1: 2px solid #ddd; }
.table .table { background-color: #fff; }


table td[class*="col-"], table th[class*="col-"] { position: static; float: none; display: table-cell; }

.table > thead > tr > td.active, .table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th { background-color: #f5f5f5; }

.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th { background-color: #e8e8e8; }

.table > thead > tr > td.success, .table > thead > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th { background-color: #dff0d8; }

.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th { background-color: #d0e9c6; }

.table > thead > tr > td.info, .table > thead > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th { background-color: #d9edf7; }


.table > thead > tr > td.warning, .table > thead > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th { background-color: #fcf8e3; }


.table > thead > tr > td.danger, .table > thead > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th { background-color: #f2dede; }


.table-responsive { overflow-x: auto; min-height: 0.01%; }
@media screen and (max-width: 767px) { .table-responsive { width: 100%; margin-bottom: 16.5px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd; }
  .table-responsive > .table { margin-bottom: 0; }
  .table-responsive > .table > thead > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > tfoot > tr > td { white-space: nowrap; } }


label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: bold; }

input[type="search"] { box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] { margin: 4px 0 0; margin-top1: 1px \9; line-height: normal; }

input[type="file"] { display: block; }

input[type="range"] { display: block; width: 100%; }

select[multiple], select[size] { height: auto; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }


.form-control { display: block; width: 100%; height: 36px; padding: 6px 12px; font-size: 14px; line-height: 1.6; color: #555555; background-color: #f5f5f5; background-image: none; border: 1px solid #eeeeee; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
.form-control:focus { border-color: #eeeeee; outline: 0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238, 238, 238, 0.6); }
.form-control::-moz-placeholder { color: #999; opacity: 1; }
.form-control:-ms-input-placeholder { color: #999; }
.form-control::-webkit-input-placeholder { color: #999; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: #eeeeee; opacity: 1; }
.form-control[disabled], fieldset[disabled] .form-control { cursor: not-allowed; }

textarea.form-control { height: auto; }

input[type="search"] { -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control { line-height: 36px; }
  input[type="date"].input-sm, .input-group-sm > input[type="date"].form-control, .input-group-sm > input[type="date"].input-group-addon, .input-group-sm > .input-group-btn > input[type="date"].btn, .input-group-sm input[type="date"], input[type="time"].input-sm, .input-group-sm > input[type="time"].form-control, .input-group-sm > input[type="time"].input-group-addon, .input-group-sm > .input-group-btn > input[type="time"].btn, .input-group-sm input[type="time"], input[type="datetime-local"].input-sm, .input-group-sm > input[type="datetime-local"].form-control, .input-group-sm > input[type="datetime-local"].input-group-addon, .input-group-sm > .input-group-btn > input[type="datetime-local"].btn, .input-group-sm input[type="datetime-local"], input[type="month"].input-sm, .input-group-sm > input[type="month"].form-control, .input-group-sm > input[type="month"].input-group-addon, .input-group-sm > .input-group-btn > input[type="month"].btn, .input-group-sm input[type="month"] { line-height: 30px; }
  input[type="date"].input-lg, .input-group-lg > input[type="date"].form-control, .input-group-lg > input[type="date"].input-group-addon, .input-group-lg > .input-group-btn > input[type="date"].btn, .input-group-lg input[type="date"], input[type="time"].input-lg, .input-group-lg > input[type="time"].form-control, .input-group-lg > input[type="time"].input-group-addon, .input-group-lg > .input-group-btn > input[type="time"].btn, .input-group-lg input[type="time"], input[type="datetime-local"].input-lg, .input-group-lg > input[type="datetime-local"].form-control, .input-group-lg > input[type="datetime-local"].input-group-addon, .input-group-lg > .input-group-btn > input[type="datetime-local"].btn, .input-group-lg input[type="datetime-local"], input[type="month"].input-lg, .input-group-lg > input[type="month"].form-control, .input-group-lg > input[type="month"].input-group-addon, .input-group-lg > .input-group-btn > input[type="month"].btn, .input-group-lg input[type="month"] { line-height: 46px; } }
.form-group { margin-bottom: 0px; }
.form-group.has-error input[type="text"], .form-group.has-error input[type="email"], .form-group.has-error input[type="tel"], .form-group.has-error input[type="password"], .form-group.has-error textarea {
    outline: 1px solid red;
}

.radio, .checkbox { position: relative; display: block; margin-top1: 10px; margin-bottom: 10px; }
.radio label, .checkbox label { min-height: 22px; padding-left: 20px; margin-bottom: 0; font-weight: normal; cursor: pointer; }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { position: absolute; margin-left: -20px; margin-top1: 4px \9; }

.radio + .radio, .checkbox + .checkbox { margin-top1: -5px; }


input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"], input[type="checkbox"][disabled], input[type="checkbox"].disabled, fieldset[disabled] input[type="checkbox"] { cursor: not-allowed; }


.radio.disabled label, fieldset[disabled] .radio label, .checkbox.disabled label, fieldset[disabled] .checkbox label { cursor: not-allowed; }


.input-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }

select.input-sm, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, .input-group-sm > .input-group-btn > select.btn { height: 30px; line-height: 30px; }

textarea.input-sm, .input-group-sm > textarea.form-control, .input-group-sm > textarea.input-group-addon, .input-group-sm > .input-group-btn > textarea.btn, select[multiple].input-sm, .input-group-sm > select[multiple].form-control, .input-group-sm > select[multiple].input-group-addon, .input-group-sm > .input-group-btn > select[multiple].btn { height: auto; }

.form-group-sm .form-control { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.form-group-sm select.form-control { height: 30px; line-height: 30px; }
.form-group-sm textarea.form-control, .form-group-sm select[multiple].form-control { height: auto; }
.form-group-sm .form-control-static { height: 30px; min-height: 34px; padding: 6px 10px; font-size: 12px; line-height: 1.5; }

.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn { height: 46px; padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }

select.input-lg, .input-group-lg > select.form-control, .input-group-lg > select.input-group-addon, .input-group-lg > .input-group-btn > select.btn { height: 46px; line-height: 46px; }

textarea.input-lg, .input-group-lg > textarea.form-control, .input-group-lg > textarea.input-group-addon, .input-group-lg > .input-group-btn > textarea.btn, select[multiple].input-lg, .input-group-lg > select[multiple].form-control, .input-group-lg > select[multiple].input-group-addon, .input-group-lg > .input-group-btn > select[multiple].btn { height: auto; }

.form-group-lg .form-control { height: 46px; padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }
.form-group-lg select.form-control { height: 46px; line-height: 46px; }
.form-group-lg textarea.form-control, .form-group-lg select[multiple].form-control { height: auto; }
.form-group-lg .form-control-static { height: 46px; min-height: 40px; padding: 11px 16px; font-size: 18px; line-height: 1.33333; }


.form-control-feedback { position: absolute; top1: 0; right: 0; z-index: 2; display: block; width: 36px; height: 36px; line-height: 36px; text-align: center; pointer-events: none; }

.input-lg + .form-control-feedback, .input-group-lg > .form-control + .form-control-feedback, .input-group-lg > .input-group-addon + .form-control-feedback, .input-group-lg > .input-group-btn > .btn + .form-control-feedback, .input-group-lg + .form-control-feedback, .form-group-lg .form-control + .form-control-feedback { width: 46px; height: 46px; line-height: 46px; }

.input-sm + .form-control-feedback, .input-group-sm > .form-control + .form-control-feedback, .input-group-sm > .input-group-addon + .form-control-feedback, .input-group-sm > .input-group-btn > .btn + .form-control-feedback, .input-group-sm + .form-control-feedback, .form-group-sm .form-control + .form-control-feedback { width: 30px; height: 30px; line-height: 30px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label { color: #3c763d; }
.has-success .form-control { border-color: #3c763d; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-success .form-control:focus { border-color: #2b542c; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }
.has-success .input-group-addon { color: #3c763d; border-color: #3c763d; background-color: #dff0d8; }
.has-success .form-control-feedback { color: #3c763d; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label { color: #8a6d3b; }

.has-warning .form-control-feedback { color: #8a6d3b; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label { color: #a94442; }
.has-error .form-control { border-color: #a94442; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-error .form-control:focus { border-color: #843534; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
.has-error .input-group-addon { color: #a94442; border-color: #a94442; background-color: #f2dede; }
.has-error .form-control-feedback { color: #a94442; }

.has-feedback label ~ .form-control-feedback { top1: 27px; }
.has-feedback label.sr-only ~ .form-control-feedback { top1: 0; }

@media (min-width: 768px) {
 .form-inline .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }

  .form-inline .radio, .form-inline .checkbox { display: inline-block; margin-top1: 0; margin-bottom: 0; vertical-align: middle; }
  .form-inline .radio label, .form-inline .checkbox label { padding-left: 0; }
  .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] { position: relative; margin-left: 0; }
  .form-inline .has-feedback .form-control-feedback { top1: 0; } }

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline { margin-top1: 0; margin-bottom: 0; padding-top1: 7px; }
.form-horizontal .radio, .form-horizontal .checkbox { min-height: 29px; }
.form-horizontal .form-group { margin-left: -15px; margin-right: -15px; }
.form-horizontal .form-group:before, .form-horizontal .form-group:after { content: " "; display: table; }
.form-horizontal .form-group:after { clear: both; }
@media (min-width: 768px) { }

.form-horizontal .has-feedback .form-control-feedback { right: 15px; }
@media (min-width: 768px) { .form-horizontal .form-group-lg .control-label { padding-top1: 14.33333px; font-size: 18px; } }
@media (min-width: 768px) { .form-horizontal .form-group-sm .control-label { padding-top1: 6px; font-size: 12px; } }

.btn { display: inline-block; margin-bottom: 0; font-weight: bold; text-align: center; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.6; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: #aaaaaa; text-decoration: none; }
.btn:active, .btn.active { outline: 0; background-image: none; box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; opacity: 0.65; filter: alpha(opacity=65); box-shadow: none; }

a.btn.disabled, fieldset[disabled] a.btn { pointer-events: none; }

.btn-default { color: #aaaaaa; background-color: #eeeeee; border-color: #eeeeee; }
.btn-default:focus, .btn-default.focus { color: #aaaaaa; background-color: #d5d5d5; border-color: #aeaeae; }
.btn-default:hover { color: #aaaaaa; background-color: #d5d5d5; border-color: #cfcfcf; }
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { color: #aaaaaa; background-color: #d5d5d5; border-color: #cfcfcf; }
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus { color: #aaaaaa; background-color: #c3c3c3; border-color: #aeaeae; }
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { background-image: none; }
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active { background-color: #eeeeee; border-color: #eeeeee; }
.btn-default .badge { color: #eeeeee; background-color: #aaaaaa; }

.btn-primary { color: #fff; background-color: #4ab9cf; border-color: #4ab9cf; }
.btn-primary:focus, .btn-primary.focus { color: #fff; background-color: #30a0b6; border-color: #206b79; }
.btn-primary:hover { color: #fff; background-color: #30a0b6; border-color: #2e99ae; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { color: #fff; background-color: #30a0b6; border-color: #2e99ae; }
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus { color: #fff; background-color: #29879a; border-color: #206b79; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { background-image: none; }
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active { background-color: #222; border-color: #222; }
.btn-primary .badge { color: #222; background-color: #fff; }

.btn-success { color: #fff; background-color: #57ad68; border-color: #57ad68; }
.btn-success:focus, .btn-success.focus { color: #fff; background-color: #458c53; border-color: #2b5934; }
.btn-success:hover { color: #fff; background-color: #458c53; border-color: #41864f; }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { color: #fff; background-color: #458c53; border-color: #41864f; }
.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus { color: #fff; background-color: #397445; border-color: #2b5934; }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { background-image: none; }
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active { background-color: #57ad68; border-color: #57ad68; }
.btn-success .badge { color: #57ad68; background-color: #fff; }

.btn-info { color: #fff; background-color: #4ab9cf; border-color: #4ab9cf; }
.btn-info:focus, .btn-info.focus { color: #fff; background-color: #30a0b6; border-color: #206b79; }
.btn-info:hover { color: #fff; background-color: #30a0b6; border-color: #2e99ae; }
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { color: #fff; background-color: #30a0b6; border-color: #2e99ae; }
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus { color: #fff; background-color: #29879a; border-color: #206b79; }
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { background-image: none; }
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active { background-color: #4ab9cf; border-color: #4ab9cf; }
.btn-info .badge { color: #4ab9cf; background-color: #fff; }

.btn-warning { color: #fff; background-color: #e46334; border-color: #e46334; }
.btn-warning:focus, .btn-warning.focus { color: #fff; background-color: #ca4a1b; border-color: #873112; }
.btn-warning:hover { color: #fff; background-color: #ca4a1b; border-color: #c1461a; }
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { color: #fff; background-color: #ca4a1b; border-color: #c1461a; }
.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus { color: #fff; background-color: #ab3e17; border-color: #873112; }
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { background-image: none; }
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active { background-color: #e46334; border-color: #e46334; }
.btn-warning .badge { color: #e46334; background-color: #fff; }

.btn-danger { color: #fff; background-color: #e21f2f; border-color: #e21f2f; }
.btn-danger:focus, .btn-danger.focus { color: #fff; background-color: #b61825; border-color: #730f17; }
.btn-danger:hover { color: #fff; background-color: #b61825; border-color: #ad1623; }
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { color: #fff; background-color: #b61825; border-color: #ad1623; }
.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus { color: #fff; background-color: #97141e; border-color: #730f17; }
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { background-image: none; }
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active { background-color: #e21f2f; border-color: #e21f2f; }
.btn-danger .badge { color: #e21f2f; background-color: #fff; }

.btn-link { color: #4ab9cf; font-weight: normal; border-radius: 0; }
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link { background-color: transparent; box-shadow: none; }
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active { border-color: transparent; }
.btn-link:hover, .btn-link:focus { color: #36b1ca; text-decoration: underline; background-color: transparent; }
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus { color: #777777; text-decoration: none; }

.btn-lg, .btn-group-lg > .btn { padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }

.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }

.btn-xs, .btn-group-xs > .btn { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }

.btn-block { display: block; width: 100%; }

.btn-block + .btn-block { margin-top1: 5px; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { width: 100%; }


.collapse { display: none; }
.collapse.in { display: block; }


.collapsing { position: relative; height: 0; overflow: hidden; transition-property: height, visibility; transition-duration: 0.35s; transition-timing-function: ease; }


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { color: #fff; text-decoration: none; outline: 0; background-color: #4ab9cf; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus { color: #777777; }
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); cursor: not-allowed; }

.open > .dropdown-menu { display: block; }
.open > a { outline: 0; }

@media (min-width: 992px) { }

.btn-group, .btn-group-vertical { position: relative; display: inline-block; vertical-align: middle; }
.btn-group > .btn, .btn-group-vertical > .btn { position: relative; float: left; }
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:hover, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active { z-index: 2; }

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group { margin-left: -1px; }

.btn-toolbar { margin-left: -5px; }
.btn-toolbar:before, .btn-toolbar:after { content: " "; display: table; }
.btn-toolbar:after { clear: both; }
.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group { float: left; }
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group { margin-left: 5px; }

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0; }

.btn-group > .btn:first-child { margin-left: 0; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0; border-top1-right-radius: 0; }

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-bottom-left-radius: 0; border-top1-left-radius: 0; }

.btn-group > .btn-group { float: left; }

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0; }

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0; border-top1-right-radius: 0; }

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child { border-bottom-left-radius: 0; border-top1-left-radius: 0; }

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline: 0; }

.btn-group > .btn + .dropdown-toggle { padding-left: 8px; padding-right: 8px; }

.btn-group > .btn-lg + .dropdown-toggle, .btn-group-lg.btn-group > .btn + .dropdown-toggle { padding-left: 12px; padding-right: 12px; }

.btn-group.open .dropdown-toggle { box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn-group.open .dropdown-toggle.btn-link { box-shadow: none; }

.btn .caret { margin-left: 0; }

.btn-lg .caret, .btn-group-lg > .btn .caret { border-width: 5px 5px 0; border-bottom-width: 0; }

.dropup .btn-lg .caret, .dropup .btn-group-lg > .btn .caret { border-width: 0 5px 5px; }

.btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn { display: block; float: none; width: 100%; max-width: 100%; }
.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after { content: " "; display: table; }
.btn-group-vertical > .btn-group:after { clear: both; }
.btn-group-vertical > .btn-group > .btn { float: none; }
.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group { margin-top1: -1px; margin-left: 0; }

.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top1-right-radius: 4px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-bottom-left-radius: 4px; border-top1-right-radius: 0; border-top1-left-radius: 0; }

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0; }

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child { border-top1-right-radius: 0; border-top1-left-radius: 0; }

.btn-group-justified { display: table; width: 100%; table-layout: fixed; border-collapse: separate; }
.btn-group-justified > .btn, .btn-group-justified > .btn-group { float: none; display: table-cell; width: 1%; }
.btn-group-justified > .btn-group .btn { width: 100%; }
.btn-group-justified > .btn-group .dropdown-menu { left: auto; }

[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] { position: absolute; clip: rect(0, 0, 0, 0); pointer-events: none; }


.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { border-bottom-right-radius: 0; border-top1-right-radius: 0; }


.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn { border-bottom-left-radius: 0; border-top1-left-radius: 0; }

.input-group-btn > .btn { position: relative; }
.input-group-btn > .btn + .btn { margin-left: -1px; }
.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active { z-index: 2; }
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group { margin-right: -1px; }
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group { z-index: 2; margin-left: -1px; }

.nav > li.disabled > a { color: #777777; }
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus { color: #777777; text-decoration: none; background-color: transparent; cursor: not-allowed; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background-color: #eeeeee; border-color: #4ab9cf; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: #555555; background-color: #fff; border: 1px solid #ddd; border-bottom-color: transparent; cursor: default; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { color: #fff; background-color: #4ab9cf; }
@media (min-width: 768px) { }

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus { border: 1px solid #ddd; }
@media (min-width: 768px) {

  .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus { border-bottom-color: #fff; } }

.tab-content > .active { display: block; }
@media (min-width: 992px) { }
@media (min-width: 992px) { }


.navbar-collapse { overflow-x: visible; padding-right: 15px; padding-left: 15px; border-top1: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); -webkit-overflow-scrolling: touch; }
.navbar-collapse:before, .navbar-collapse:after { content: " "; display: table; }
.navbar-collapse:after { clear: both; }
@media (min-width: 992px) {
 .navbar-collapse { width: auto; border-top1: 0; box-shadow: none; }
  .navbar-collapse.collapse { display: block !important; height: auto !important; padding-bottom: 0; overflow: visible !important; } }
@media (max-device-width: 480px) and (orientation: landscape) { }


.container1 > .navbar-header1, .container1 > .navbar-collapse, .container1-fluid > .navbar-header1, .container1-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
@media (min-width: 992px) { .container1 > .navbar-header1, .container1 > .navbar-collapse, .container1-fluid > .navbar-header1, .container1-fluid > .navbar-collapse { margin-right: 0; margin-left: 0; } }
@media (min-width: 992px) { }
@media (min-width: 992px) { }
@media (min-width: 992px) {
 .navbar > .container1 .navbar-brand, .navbar > .container1-fluid .navbar-brand { margin-left: -15px; } }

.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top1: 8px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle:focus { outline: 0; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top1: 4px; }
@media (min-width: 992px) { .navbar-toggle { display: none; } }
@media (max-width: 991px) {
 .navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top1: 0; background-color: transparent; border: 0; box-shadow: none; }
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header1 { padding: 5px 15px 5px 25px; }
  .navbar-nav .open .dropdown-menu > li > a { line-height: 22px; }
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus { background-image: none; } }
@media (min-width: 992px) { }
@media (min-width: 768px) {
 .navbar-form .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }

  .navbar-form .radio, .navbar-form .checkbox { display: inline-block; margin-top1: 0; margin-bottom: 0; vertical-align: middle; }
  .navbar-form .radio label, .navbar-form .checkbox label { padding-left: 0; }
  .navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] { position: relative; margin-left: 0; }
  .navbar-form .has-feedback .form-control-feedback { top1: 0; } }
@media (max-width: 991px) { .navbar-form .form-group { margin-bottom: 5px; }
  .navbar-form .form-group:last-child { margin-bottom: 0; } }
@media (min-width: 992px) { }

.navbar-btn.btn-sm, .btn-group-sm > .navbar-btn.btn { margin-top1: 10px; margin-bottom: 10px; }
.navbar-btn.btn-xs, .btn-group-xs > .navbar-btn.btn { margin-top1: 14px; margin-bottom: 14px; }
@media (min-width: 992px) { }

@media (min-width: 992px) { }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #555; background-color: #e7e7e7; }
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus { color: #ccc; background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background-color: #e7e7e7; color: #555; }
@media (max-width: 991px) { .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #777; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #333; background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { color: #555; background-color: #e7e7e7; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: #ccc; background-color: transparent; } }

.navbar-default .btn-link { color: #777; }
.navbar-default .btn-link:hover, .navbar-default .btn-link:focus { color: #333; }
.navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:hover, fieldset[disabled] .navbar-default .btn-link:focus { color: #ccc; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { color: #fff; background-color: #090909; }
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus { color: #444; background-color: transparent; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background-color: #090909; color: #fff; }
@media (max-width: 991px) { .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header1 { border-color: #090909; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider { background-color: #090909; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #9d9d9d; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { color: #fff; background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus { color: #fff; background-color: #090909; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: #444; background-color: transparent; } }

.navbar-inverse .btn-link { color: #9d9d9d; }
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus { color: #fff; }
.navbar-inverse .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:hover, fieldset[disabled] .navbar-inverse .btn-link:focus { color: #444; }

.jumbotron { padding-top1: 30px; padding-bottom: 30px; margin-bottom: 30px; color: inherit; background-color: #eeeeee; }
.jumbotron h1, .jumbotron .h1 { color: inherit; }
.jumbotron p { margin-bottom: 15px; font-size: 21px; font-weight: 200; }

.container1 .jumbotron, .container1-fluid .jumbotron { border-radius: 6px; }
.jumbotron .container1 { max-width: 100%; }
@media screen and (min-width: 768px) { .jumbotron { padding-top1: 48px; padding-bottom: 48px; }
  .container1 .jumbotron, .container1-fluid .jumbotron { padding-left: 60px; padding-right: 60px; }
  .jumbotron h1, .jumbotron .h1 { font-size: 63px; } }


.modal-header1 .close { margin-top1: -2px; }
 

@media (min-width: 768px) { }
@media (min-width: 992px) { }


.carousel { position: relative; }

.carousel-inner { position: relative; overflow: hidden; width: 100%; }
.carousel-inner > .item { display: none; position: relative; transition: 0.6s ease-in-out left; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; line-height: 1; }
@media all and (transform-3d), (-webkit-transform-3d) { .carousel-inner > .item { transition: -webkit-transform 0.6s ease-in-out; transition: transform 0.6s ease-in-out; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000px; perspective: 1000px; }
  .carousel-inner > .item.next, .carousel-inner > .item.active.right { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); left: 0; }
  .carousel-inner > .item.prev, .carousel-inner > .item.active.left { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); left: 0; }
  .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); left: 0; } }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0; }
.carousel-inner > .next, .carousel-inner > .prev { position: absolute; top1: 0; width: 100%; }
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left, .carousel-inner > .prev.right { left: 0; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }


.carousel-indicators { position: absolute; bottom: 10px; left: 50%; z-index: 15; width: 60%; margin-left: -30%; padding-left: 0; list-style: none; text-align: center; }
.carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin: 1px; text-indent: -999px; border: 1px solid #fff; border-radius: 10px; cursor: pointer; background-color: #000 \9; background-color: transparent; }
.carousel-indicators .active { margin: 0; width: 12px; height: 12px; background-color: #fff; }

.carousel-caption .btn { text-shadow: none; }

@media screen and (min-width: 768px) {

  .carousel-indicators { bottom: 20px; } }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


.pull-right { float: right !important; }


.hide { display: none !important; }

.show { display: block !important; }


.hidden { display: none !important; }


/*------------------------------------*\
    03. Tags
\*------------------------------------*/
body { background: #fff url('../images/dot-lapantiga.png') repeat fixed 0% 0%; }
body .boxed-container1 { background-color: #ffffff; overflow-x: hidden; }
body.boxed > .boxed-container1 { margin: 0 auto; box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); max-width: 100%; }
@media (min-width: 768px) { body.boxed > .boxed-container1 { width: 810px; } }
@media (min-width: 992px) { body.boxed > .boxed-container1 { width: 1030px; } }
@media (min-width: 1200px) { body.boxed > .boxed-container1 { width: 1230px; } }
 @media (min-width: 1500px) { body.boxed .jumbotron-content { top1: 110px; } }
@media (min-width: 1200px) { body.boxed .jumbotron-content__title h1 { font-size: 38px; } }
@media (min-width: 1500px) { body.boxed .jumbotron__control { top1: 40px; width: 40px; height: 40px; line-height: 40px; font-size: 18px; } }
@media (min-width: 1500px) { body.boxed .jumbotron__control.right { margin-left: 48px; } }

 
h4.subLight { color: #bbb; }

h3 { font-size: 27px; }

input, select, textarea { outline: 0; }

.dark-link { color: #444444; }
.dark-link:hover, .dark-link:focus { color: #444444; }

/*------------------------------------*\
    04. Helpers
\*------------------------------------*/

.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.post-image { max-width: 100%; height: auto; }

.featured-widget { padding: 30px; background-color: #fff; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); }
.featured-widget h3 { margin-top1: 0; }

@media (min-width: 1500px) { .jumbotron-overlap { position: relative; margin-top1: -75px; } }
@media (min-width: 1500px) { .jumbotron-overlap img { box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2); } }

.widget-title { margin-bottom: 30px; position: relative; }
.widget-title.big { font-size: 27px; }
@media (min-width: 992px) { .widget-title.big { font-size: 44px; } }

.widget-title.lined { border-bottom: 1px solid rgba(0, 0, 0, 0.065); line-height: 1px; margin-bottom: 60px;}

.widget-title.lined > span { background: #fff; padding-right: 20px; }

.hr-quote { position: relative; }
 

.row.first { margin-bottom: 80px; }

.margin-top1-0 { margin-top1: 0px !important; }

.margin-bottom-0 { margin-bottom: 0px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }
 
.news { padding: 60px 0px; background: #222; }

.cta { background: #f5f5f5; }
.values { padding: 60px 0px; background: #fff url("../images/lapantiga_store_banner.png") scroll 100% center;

/* .values { padding: 60px 0px; background: transparent url("../images/lapantiga_store_ads.png") scroll 100% center; */

background-position: center center; background-repeat: no-repeat; 


 }

.values h3 { text-align: center; font-size: 44px; }

.values p > span { color: #4ab9cf; font-weight: bold; }

.map .js-where-we-are { height: 380px; }

.map .route { height: 550px; }

/*------------------------------------*\
    05. Components
\*------------------------------------*/
/* 05.01. Top1 Bar */
.top1 { font-size: 13px; background-color: #f5f5f5; border-bottom: 1px solid #ededed; color: #aaaaaa; }
@media (max-width: 480px) { .top1 { display: none } }

.top1__tagline { text-align: center; padding: 8px 0 2.5px 0; }
@media (min-width: 992px) { .top1__tagline { float: left; padding: 7.5px 0; } }

.top1__menu { text-align: center; }
@media (min-width: 992px) { .top1__menu { float: right; } }

form.trackForm { margin: 0px; width: 100%; }
form.trackForm input, form.trackForm input:focus { float: left; width: 80%; padding: 0px; margin: 0px; height: 50px; line-height: 36px; border: 1px solid #DCDCDC; border-right: 0px; padding: 4px 10px; border-radius: 0px; -webkit-border-top1-left-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-top1left: 2px; -moz-border-radius-bottomleft: 2px; border-top1-left-radius: 2px; border-bottom-left-radius: 2px; font-size: 16px; }
form.trackForm button { float: right; width: 20%; height: 50px; border-radius: 0px; -webkit-border-top1-right-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-top1right: 2px; -moz-border-radius-bottomright: 2px; border-top1-right-radius: 2px; border-bottom-right-radius: 2px; border: 0px; }

@media all and (max-width: 640px) {
form.trackForm input { border-radius: 2px; border-right: 1px solid #DCDCDC; margin-bottom: 10px; }
form.trackForm button { border-radius: 2px; }
form.trackForm input, form.trackForm button { float: none; width: 100%; }
}

/* 05.02. Header1 */
.header1 { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; }
.header1__logo { -webkit-order: 1; -ms-flex-order: 1; order: 1; background-color: #ffffff; width: 100%; border-bottom: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 10px; padding-top1: 10px; padding-bottom: 10px; }
.header1__logo img { margin-top1: 35px ; }
@media (min-width: 992px) { .header1__logo { width: 270px; height: 120px; margin-bottom: 0; padding-top1: 0; padding-bottom: 0; border-bottom: 0; } }
@media (min-width: 1200px) { .header1__logo { position: relative; } }
@media (min-width: 1200px) { .header1__logo::after { position: absolute; content: ""; height: 43px; width: 43px; background-color: #ffffff; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); bottom: 9px; right: -22px; } }
.header1__logo img { display: inline-block; margin-top1: 15px; margin-bottom: 15px; width: 60%; }
@media (min-width: 480px) { .header1__logo img { width: auto; } }
@media (min-width: 992px) { .header1__logo img { margin-bottom: 0; } }
.header1__logo a { transition: all 100ms ease-out; }
.header1__logo a:hover { text-decoration: none; }

.header1__widgets { -webkit-order: 3; -ms-flex-order: 3; order: 3; background-color: #ffffff; width: 100%; }
@media (min-width: 992px) { .header1__widgets { -webkit-order: 2; -ms-flex-order: 2; order: 2; width: calc(100% - 270px); height: 120px; text-align: right; padding: 37.5px 0; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; } }
@media (min-width: 1200px) { .header1__widgets { height: 90px; padding: 22.5px 0; } }
.header1__navigation1 { -webkit-order: 2; -ms-flex-order: 2; order: 2; width: 100%; }
@media (min-width: 992px) { .header1__navigation1 { -webkit-order: 3; -ms-flex-order: 3; order: 3; width: 75%; } }
@media (min-width: 1200px) { .header1__navigation1 { width: calc(82% - 300px); margin-left: 300px; margin-top1: -30px; } }
.header1__navigation1 .navbar-collapse { padding: 0; }
.header1__navigation1-widgets { -webkit-order: 4; -ms-flex-order: 4; order: 4; width: 100%; padding: 20px 0; }
@media (min-width: 992px) { .header1__navigation1-widgets { width: 25%; padding: 10px 0; text-align: right; } }
@media (min-width: 1200px) { .header1__navigation1-widgets { margin-top1: -30px; width: 18%; } }
.header1__container1 { background-color: #ffffff; position: relative; }
@media (min-width: 992px) { .header1__container1 { background-color: #1f425d; }
  .header1__container1::before, .header1__container1::after { content: ""; position: absolute; top1: 0; width: calc(50% - 470px); background-color: #ffffff; bottom: 60px; }
  .header1__container1::before { left: 0; }
  .header1__container1::after { right: 0; } }
@media (min-width: 1200px) { .header1__container1::before, .header1__container1::after { width: calc(50% - 570px); }
  .header1__container1::before { bottom: 30px; } }

/* 05.03. Main Title */
.main-title { background: linear-gradient(to right, #f5f5f5 0%, #eeeeee 100%); padding: 50px 0; margin-bottom: 30px; }
.main-title__primary { text-transform: uppercase; margin: 0; font-size: 44px; }
 
/* 05.04. Breadcrumbs */
.breadcrumbs { box-shadow: 0 1px 2px #e6e6e6; border-top1: 1px solid #e6e6e6; font-size: 10px; margin-bottom: 30px; position: relative; z-index: 20; }
@media (min-width: 480px) { .breadcrumbs { font-size: 14px; } }
@media (min-width: 992px) { .breadcrumbs { margin-bottom: 60px; } }
.breadcrumbs a { position: relative; display: inline-block; padding: 8px 0; font-weight: bold; color: #444444; padding-right: 15px; margin-right: 15px; font-size: 10px; }
@media (min-width: 480px) { .breadcrumbs a { padding: 12px 0; padding-right: 30px; margin-right: 30px; font-size: 14px; } }
.breadcrumbs a::before, .breadcrumbs a::after { position: absolute; content: ""; height: 25px; width: 1px; right: 0; background-color: #e6e6e6; }
@media (min-width: 480px) { .breadcrumbs a::before, .breadcrumbs a::after { height: 33px; } }
.breadcrumbs a::before { top1: -5px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.breadcrumbs a::after { bottom: -5px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.breadcrumbs a:hover { color: #222222; text-decoration: none; }
.breadcrumbs span > span { display: inline-block; padding: 8px 0; }
@media (min-width: 480px) { .breadcrumbs span > span { padding: 12px 0; } }

.main-title + .breadcrumbs { margin-top1: -30px; }
 
/* 05.09. Top1 Navigation1 */
.top1-navigation1 { text-align: center; margin: 0; padding: 0; }
@media (min-width: 992px) { .top1-navigation1 { text-align: right; } }
.top1-navigation1 > li { position: relative; display: inline-block; }
.top1-navigation1 > li > a { display: block; color: #aaaaaa; padding: 7.5px 10px; }
@media (min-width: 992px) { .top1-navigation1 > li > a { padding: 7.5px 13px; } }
.top1-navigation1 > li > a:hover, .top1-navigation1 > li > a:focus { color: #888888; text-decoration: none; }
.top1-navigation1 > li:hover > .sub-menu, .top1-navigation1 > li[aria-expanded="true"] > .sub-menu { left: 0; }
@media (min-width: 992px) { .top1-navigation1 > li:last-of-type > a { padding-right: 0; } }
.top1-navigation1 .sub-menu { position: absolute; float: left; left: -9999em; z-index: 9999; text-align: left; list-style: none; padding: 0; }
.top1-navigation1 .sub-menu > li { position: relative; }
.top1-navigation1 .sub-menu > li > a { display: block; white-space: nowrap; background-color: #f5f5f5; color: #aaaaaa; padding: 7px 13px; border-bottom: 1px solid #ededed; }
.top1-navigation1 .sub-menu > li > a:hover, .top1-navigation1 .sub-menu > li > a:focus { color: #888888; text-decoration: none; }

.top1-navigation1 .sub-menu > li:last-of-type > a { border-bottom: 0; }

/* 05.10. Main Navigation1 */
.main-navigation1 { padding: 0 0 20px 0; margin: 0 0 20px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
@media (min-width: 992px) { .main-navigation1 { padding: 0; margin: 0; border-bottom: 0; font-size: 0; } }
@media (min-width: 1200px) { .main-navigation1 { padding-left: 10px; } }
.main-navigation1 > li { position: relative; }
@media (min-width: 992px) { .main-navigation1 > li { display: inline-block; font-size: 14px; } }
.main-navigation1 > li > a { position: relative; display: block; font-size: 16px; line-height: 1.5; font-weight: bold; color: #444444; padding: 10px 0; }
@media (min-width: 992px) { .main-navigation1 > li > a { color: #ffffff; padding: 18px 18px; } }
@media (min-width: 992px) { .main-navigation1 > li > a::before { position: absolute; content: ""; width: 4px; height: 4px; right: -2px; top1: calc(50% - 2px); border-radius: 50%; background: rgba(250, 250, 250, 0.2); } }
.main-navigation1 > li:last-of-type > a::before { display: none; }
.main-navigation1 > li:hover > a, .main-navigation1 > li:focus > a, .main-navigation1 > li[aria-expanded="true"] > a { color: #1f425d; text-decoration: none; }
@media (min-width: 992px) { .main-navigation1 > li:hover > a, .main-navigation1 > li:focus > a, .main-navigation1 > li[aria-expanded="true"] > a { color: #ffffff; } }
@media (min-width: 992px) { .main-navigation1 > li:hover > a::after, .main-navigation1 > li:focus > a::after, .main-navigation1 > li[aria-expanded="true"] > a::after { position: absolute; content: ""; width: calc(100% - 30px); height: 5px; left: 15px; bottom: 0; background-color: #e21f2f; } }
.main-navigation1 > li:hover > .sub-menu, .main-navigation1 > li:focus > .sub-menu, .main-navigation1 > li[aria-expanded="true"] > .sub-menu { left: 0; }
@media (min-width: 992px) { .main-navigation1 > .current-menu-item > a::after { position: absolute; content: ""; width: calc(100% - 30px); height: 5px; left: 15px; bottom: 0; background-color: #e21f2f; } }
@media (min-width: 992px) { .main-navigation1 .menu-item-has-children > a { padding: 18px 35px 18px 20px; } }
@media (min-width: 992px) { .main-navigation1 .menu-item-has-children::after { position: absolute; content: "\f0d7"; font-family: "FontAwesome"; font-size: 12px; right: 18px; top1: calc(50% - 10px); color: #ffffff; } }
.main-navigation1 .menu-item-has-children:hover::after { color: #1f425d; }
@media (min-width: 992px) { .main-navigation1 .menu-item-has-children:hover > a { color: #1f425d; background-color: #ffffff; border-top1-left-radius: 2px; border-top1-right-radius: 2px; padding: 8px 30px 18px 15px; margin: 10px 5px 0 5px; } }
@media (min-width: 992px) { .main-navigation1 .menu-item-has-children:hover > a::before { right: -7px; top1: 18px; } }
@media (min-width: 992px) { .main-navigation1 .menu-item-has-children:hover > a::after { display: none; } }
.main-navigation1 .sub-menu { list-style: none; padding: 0; }
@media (min-width: 992px) { .main-navigation1 .sub-menu { position: absolute; left: -9999em; z-index: 9999; margin-left: 5px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); } }
.main-navigation1 .sub-menu > li { position: relative; }
.main-navigation1 .sub-menu > li > a { display: block; font-size: 14px; font-weight: bold; padding: 12px 20px; background-color: #ffffff; color: #999999; }
@media (min-width: 992px) { .main-navigation1 .sub-menu > li > a { border-bottom: 1px solid rgba(0, 0, 0, 0.1); min-width: 160px; white-space: nowrap; } }
.main-navigation1 .sub-menu > li > a:hover { color: #1f425d; text-decoration: none; }
@media (min-width: 992px) { .main-navigation1 .sub-menu > li:last-of-type > a { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; border-bottom: 0; } }
@media (min-width: 992px) { }
@media (min-width: 992px) { }
@media (min-width: 992px) { }


.navbar-toggle { background-color: #1f425d; border-radius: 2px; padding: 10px 12px; margin: 10px 0; transition: all 100ms ease-out; }
@media (min-width: 480px) { .navbar-toggle { margin: 18px 0; } }
.navbar-toggle:hover { background-color: #19344a; }
.navbar-toggle .icon-bar { background-color: #ffffff; width: 18px; height: 3px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top1: 3px; }
 .navbar-toggle__icon-bar { vertical-align: middle; display: inline-block; height: 18px; }

/* 05.11. Jumbotron */
.jumbotron { position: relative; padding: 0; background-color: #1f425d; margin-bottom: 30px; }
@media (min-width: 992px) { .jumbotron { margin-bottom: 45px; } }
.jumbotron-content { color: #ffffff; padding: 30px 0; }
@media (min-width: 992px) { .jumbotron-content { position: absolute; padding: 0; width: 550px; top1: 110px; } }
@media (min-width: 1500px) { .jumbotron-content { top1: 170px; } }
.jumbotron-content__title h1 { font-size: 44px; margin-top1: 0; margin-bottom: 15px; }
@media (min-width: 992px) { .jumbotron-content__title h1 { font-size: 28px; text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); } }
@media (min-width: 1200px) { .jumbotron-content__title h1 { font-size: 44px; } }
.jumbotron-content__description p { font-weight: normal; font-size: 16px; }
@media (min-width: 992px) { .jumbotron-content__description p { font-size: 14px; text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); } }
@media (min-width: 1200px) { .jumbotron-content__description p { font-size: 16px; } }
.jumbotron-content__description p .btn-secondary { text-shadow: none; }
.jumbotron__control { position: absolute; background-color: rgba(250, 250, 250, 0.35); color: rgba(0, 0, 0, 0.35); text-align: center; top1: 35px; width: 40px; height: 40px; line-height: 40px; transition: all 100ms ease-out; }
.jumbotron__control:focus, .jumbotron__control:hover { color: rgba(0, 0, 0, 0.5); background-color: rgba(250, 250, 250, 0.5); }
@media (min-width: 480px) { .jumbotron__control { top1: 70px; } }
@media (min-width: 768px) { .jumbotron__control { top1: 110px; } }
@media (min-width: 992px) { .jumbotron__control { top1: 40px; width: 40px; height: 40px; line-height: 40px; font-size: 18px; } }
@media (min-width: 1500px) { .jumbotron__control { width: 60px; height: 60px; top1: 60px; line-height: 60px; font-size: 24px; } }
.jumbotron__control.left { left: 15px; }
@media (min-width: 768px) { .jumbotron__control.left { left: 30px; } }
@media (min-width: 992px) { .jumbotron__control.left { left: inherit; border-radius: 2px; } }
.jumbotron__control.right { right: 15px; }
@media (min-width: 768px) { .jumbotron__control.right { right: 30px; } }
@media (min-width: 992px) { .jumbotron__control.right { margin-left: 48px; right: inherit; border-radius: 2px; } }
@media (min-width: 1500px) { .jumbotron__control.right { margin-left: 68px; } }
.jumbotron .btn { margin: 10px 0; }

.carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 100%; }

/* 05.12. Video background */
.homepage-hero-module { border-right: none; border-left: none; position: relative; height: 600px;}
.boxed .homepage-hero-module { height: 530px; }
.no-video .video-container1 video, .touch .video-container1 video { display: none; }
.no-video .video-container1 .poster, .touch .video-container1 .poster { display: block !important; }
.video-container1 { position: relative; bottom: 0%; left: 0%; height: 100%; width: 100%; overflow: hidden; background: #000; }
.video-container1 .poster img { width: 100%; bottom: 0; position: absolute; }
.video-container1 .filter { z-index: 100; position: absolute; background: none; width: 100%; }
.video-container1 video { position: absolute; z-index: 0; bottom: 0; }
.video-container1 video.fillWidth { width: 100%; }
.homepage-hero-module .jumbotron-content { width: 80%; top1: 190px; margin: 0px auto; position: relative; }
.boxed .homepage-hero-module .jumbotron-content { top1: 150px; }
.homepage-hero-module .jumbotron-content__title h1 { color: #fff !important; text-align: center;}
.homepage-hero-module .jumbotron-content__description p { font-size: 20px; }

@media all and (max-width: 1499px) {
.homepage-hero-module { height: 468px; margin-bottom: 45px; }
.homepage-hero-module .jumbotron-content { top1: 150px; }
}

@media all and (max-width: 990px) {
.homepage-hero-module .jumbotron-content { width: 100%; top1: 90px; }
}

@media all and (max-width: 750px) {
.homepage-hero-module .jumbotron-content__title h1 { font-size: 29px; }
}

/* 05.13. Meta Data */
.meta-data { padding: 6px 20px 4px 20px; background-color: #eeeeee; color: #aaaaaa; font-size: 14px; line-height: 35px; margin-bottom: 24px; }
.meta-data a { color: #aaaaaa; }
.meta-data a:hover { color: #444444; }
.meta-data__separator { margin: 0 10px; color: #dddddd; font-size: 28px; vertical-align: middle; }


/* 05.14. Pagination */
.pagination { position: relative; margin-bottom: 60px; }
.pagination .page-numbers { display: inline-block; width: 45px; height: 45px; background-color: #eeeeee; color: #aaaaaa; font-weight: bold; text-align: center; line-height: 45px; transition: all 100ms ease-out; }
.pagination a:hover { color: #444444; text-decoration: none; }
.pagination .current { background-color: #4ab9cf; color: #ffffff; text-shadow: 0 1px rgba(0, 0, 0, 0.16); }
.pagination .prev, .pagination .next { position: absolute; right: 0; }
.pagination .prev { right: 48px; }

/* 05.15. Comments */
.avatar-container1 > img { border-radius: 2px; }

.avatar-container1--nested, .avatar-container1--nestedx2, .avatar-container1 { float: left; width: 12%; }
.avatar-container1--nested img, .avatar-container1--nestedx2 img, .avatar-container1 img { width: 100%; height: auto; }

.comment-content--nested, .comment-content--nestedx2, .comment-content { float: left; width: 85%; margin-left: 3%; position: relative; }
.comment-content--nested::before, .comment-content--nestedx2::before, .comment-content::before { content: ""; display: block; position: absolute; top1: 20px; left: -10px; border: solid 6px #ffffff; border-width: 6px 10px 6px 0; border-right-color: #f5f5f5; }
.comment-content--nested .comment-inner, .comment-content--nestedx2 .comment-inner, .comment-content .comment-inner { padding: 30px; background-color: #f5f5f5; border-radius: 2px; margin-bottom: 30px; }
.comment-content--nested .comment-author, .comment-content--nestedx2 .comment-author, .comment-content .comment-author { color: #444444; font-size: 21px;   }
.comment-content--nested .comment-metadata, .comment-content--nestedx2 .comment-metadata, .comment-content .comment-metadata { font-size: 13px; float: right; font-weight: normal; color: #b9babc; }
.comment-content--nested .comment-text, .comment-content--nestedx2 .comment-text, .comment-content .comment-text { color: #aaaaaa; margin-top1: 15px; font-size: 14px; }

#comments { display: inline-block; }

.comment { list-style: none; }

/* Comments Fields */
.comment-form .form-control { background: #f5f5f5; border-radius: 2px; border: 1px solid #dedede; box-shadow: none; transition: all 100ms ease-out; }
.comment-form .form-control:focus { border-color: #dedede; background: #ffffff; }
.comment-form input { height: 45px; }
.comment-form label { font-weight: normal; }

.comments__heading { margin-top1: 45px; margin-bottom: 22px; font-size: 27px; text-transform: uppercase; }

.comments-container1 { padding-left: 0px; }
.comments-container1 + .comments__heading { margin-top1: 30px; }

.comment-respond { font-size: 14px; }

/* 05.16. Buttons */
.btn { font-weight: bold; height: 45px; line-height: 45px; padding: 0 30px; border-radius: 2px; text-transform: uppercase; transition: all 100ms ease-out; }

.btn--post { margin-top1: -6px; }
.btn--post:hover { background-color: #eeeeee; border-color: #eeeeee; color: #444444; }
.btn--post:active { box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05); }

/* Rounded corner option */
.btn-rounded { border-radius: 20px; }

.btn-primary, .btn-info { text-shadow: 0 1px rgba(0, 0, 0, 0.16); }

/* Header1 Widgets Specific Buttons */
.header1__widgets .btn { width: 100%; }
@media (min-width: 992px) { .header1__widgets .btn { width: auto; } }

.btn-secondary { background-color: #ffffff; border-color: #ffffff; color: #444444; }
.btn-secondary:hover { color: #444444; background-color: #f2f2f2; border-color: #f2f2f2; }
 

/* Icon Box */
.widget_pw_icon_box .icon-box { display: inline-block; width: 100%; border: 1px solid #e6e6e6; border-bottom: 2px solid #b9babc; border-top1-left-radius: 2px; border-top1-right-radius: 2px; padding: 27px 30px 26px 30px; line-height: 1.3; transition: all 100ms ease-out; }
.widget_pw_icon_box .icon-box:hover { box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1); border-bottom: 2px solid #4ab9cf; text-decoration: none; }
.widget_pw_icon_box .icon-box:hover .fa { color: #4ab9cf; }
.widget_pw_icon_box .icon-box__title { margin-top1: 0; margin-bottom: 8px; font-size: 16px; }
.widget_pw_icon_box .icon-box__subtitle { color: #aaaaaa; font-size: 13px; }
 
.header1 .widget-icon-box:first-of-type .icon-box { margin-left: 0; padding-left: 0; border-left: 0; }
.header1 .icon-box { display: inline-block; text-align: left; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); width: 100%; }
@media (min-width: 992px) { .header1 .icon-box { margin-right: 20px; margin-bottom: 0; padding-left: 20px; padding-bottom: 0; border-left: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 0; width: auto; } }
@media (min-width: 1200px) { .header1 .icon-box { margin-right: 30px; padding-left: 30px; } }
.header1 .icon-box:hover { text-decoration: none; }
.header1 .icon-box .fa { color: #e21f2f; margin-right: 3px; }
 .header1 .icon-box__subtitle { display: block; color: #444444; font-weight: bold; }

/* Featured Page */
.page-box__title { font-size: 27px; margin-top1: 24px; margin-bottom: 20px; }
.page-box__title a { color: #444444; }
.page-box__content { font-size: 14px; line-height: 1.6; }
.read-more { position: relative; font-weight: bold; text-transform: uppercase; }
 .page-box .read-more::after { position: absolute; content: "\f0da"; font-family: "FontAwesome"; right: -11px; top1: calc(50% - 9px); font-size: 10px; }

.page-box .wp-post-image { width: 100%; }
/* Brochure Box */

 

/* Number Counter */
.counters { padding: 60px 0px; background-image: url('../images/bg-bottom-count-light.jpg'); background-repeat: repeat; background-size:cover;}
.widget-number-counters { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); border-radius: 2px; }
@media (min-width: 768px) { .widget-number-counters { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; } }

.number-counter { -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; text-align: center; transition: all 100ms ease-out; background-color: #ffffff; position: relative; padding: 8px 0 17px 0; border-bottom: 1px dashed rgba(0, 0, 0, 0.2); }
@media (min-width: 768px) { .number-counter { border-right: 1px dashed rgba(0, 0, 0, 0.2); border-bottom: 0; } }
.number-counter:last-of-type { border-right: 0; border-bottom: 0; }
.number-counter__icon { color: #e21f2f; margin-right: 10px; vertical-align: middle; transition: all 100ms ease-out; }
.number-counter__icon.fa { font-size: 36px; }
.number-counter__number { vertical-align: middle; display: inline-block; font-size: 44px; color: #444444;  }
.number-counter__title { font-size: 14px; margin-top1: -12px; }

/* Logo Panel (Normal TextWidget) */
.logo-panel { text-align: center; }
.logo-panel img { margin: 15px 0; border: 1px solid #e6e6e6; border-bottom: 2px solid #b9babc; border-radius: 2px; transition: all 100ms ease-out; opacity: 0.6; }
.logo-panel img:hover { box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1); border-bottom: 2px solid #4ab9cf; opacity: 1; }
 